<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps</title>
</head>
<body>
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">
                Catalog Restaurant
            </h1>
        </div>
        <a id="menu" class="header__menu">☰</a>
    </header>
    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__link"><a href="http://localhost:8080/">HOME</a></li>
            <li class="nav__link"><a href="#">FAVORITE</a></li>
            <li class="nav__link"><a href="#">ABOUT US</a></li>
        </ul>
    </nav>

    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">Bangun Karirmu Sebagai Developer Profesional</h1>
            <p class="hero__tagline">Jadilah tuan rumah di negeri sendiri dengan belajar langsung dari para inovator dan
                developer expert</p>
        </div>
    </div>


    <footer>Copyright &#169; 2022, Peserta Dicoding</footer>

</body>
</html>
